In [25]:
import pandas as pd

test_csv_file = "/home/rovitotv/data/QIA_data/2020/202001.csv"
bank_data = pd.read_csv(test_csv_file, header=None, skiprows=1, names=['date', 'amount', 'description', 'not_known1', 'not_known2','type'],
                       parse_dates=True)

In [26]:
print(bank_data.iloc[0])

date                                       2020/01/02
amount                                             70
description    Corporate ACH Hcclaimpmt Umr 264410520
not_known1                                        NaN
not_known2                        00019365911857239\t
type                                           CREDIT
Name: 0, dtype: object

In [27]:
bank_data.head()

,date,amount,description,not_known1,not_known2,type
0,2020/01/02,70.00,Corporate ACH Hcclaimpmt Umr 264410520,NaN,00019365911857239\t,CREDIT
1,2020/01/02,41.78,9969 Debit Card Purchase Doordash*White Castle...,NaN,43293900068109969001\t,DEBIT
2,2020/01/02,205.50,9969 Debit Card Purchase Innago 513-5430759 Oh,NaN,70046900068109969002\t,DEBIT
3,2020/01/02,178.65,PNC Merchant Discount 277295138998,NaN,277295138998 OHO,DEBIT
4,2020/01/03,445.00,CHECK 143 REF. NO. 096162985,NaN,096162985,DEBIT

In [30]:
len(bank_data)

79